<div class="page-header">
  <center><h2>Listado de Equipos y/o Accesorios</h2></center>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Cantidad Disponible</th>
    <th>Marca</th>
    <th>Precio Unitario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<% @tools.each do |tool| %>
  <tr>
    <td><%= tool.name %></td>
    <td><%= tool.quantity %></td>
    <td><%= tool.trademark %></td>
    <td><%= tool.price_unitary %></td>
    <td><%= link_to ' Ver Detalles', tool,:class => 'active icon-zoom-in btn btn-mini' %>
    <%= link_to ' Actualizar', edit_tool_path(tool),:class => 'active icon-edit btn btn-mini' %>
    <%= link_to ' Eliminar', tool, method: :delete, data: { confirm: "¿Estas seguro que deseas eliminar esta herramienta?" },:class => 'active icon-trash btn btn-mini btn-danger'  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to ' Agregar Herramienta', new_tool_path,:class => 'active icon-plus-sign btn btn-primary' %>
