<%= form_for(@booking_tool) do |f| %>
  <% if @booking_tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking_tool.errors.count, "error") %> prohibited this booking_tool from being saved:</h2>

      <ul>
      <% @booking_tool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :booking_id %><br />
    <%= f.number_field :booking_id %>
  </div>
  <div class="field">
    <%= f.label :tool_id %><br />
    <%= f.number_field :tool_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
