<h1>Listing style_groups</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Music style</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @style_groups.each do |style_group| %>
  <tr>
    <td><%= style_group.group_id %></td>
    <td><%= style_group.music_style_id %></td>
    <td><%= link_to 'Show', style_group %></td>
    <td><%= link_to 'Edit', edit_style_group_path(style_group) %></td>
    <td><%= link_to 'Destroy', style_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Style group', new_style_group_path %>
