<%- model_class = Group -%>
<div class="page-header">
  <center><h2><%=t "Mis Grupos Musicales" %></h2></center>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Nombre) %></th>
      <th><%= model_class.human_attribute_name(:"Estilo Musical") %></th>
    </tr>
  </thead>
  <tbody>
     <% @groups.each do |group| %>
    <% @gro = Group.includes(:music_styles).find(group.id) %>
      <tr>
        <td><%= link_to group.name, group_path(group, :valor => 1) %></td>
        <td>
          <% @gro.music_styles.each do |g| %>
              <%= g.name %>
          <% end %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.  Actualizar")),
                      edit_group_path(group), :class => 'active icon-edit btn btn-mini btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links. Eliminar")),
                      group_path(group),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Estas seguro que deseas eliminar el grupo musical: #{group.name}")) },
                      :class => 'active icon-trash btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links. Agregar Grupo")),
            new_group_path,
            :class => 'active icon-plus-sign btn btn-primary' %>
