<%= form_tag :action =>'update_contrasena' do  %>
  </br>
  <div class="field" id="resp1">
    <%= label_tag :password_actual %>
    </div>
    <div class ="field" id="resp2">
    <%= password_field_tag :old_password %>
  </div></br>

  <div class="field" id="fonoResp1">
    <%= label_tag :nuevo_password %>
  </div>

   <div class="field" id="fonoResp2">
    <%= password_field_tag :nuevo_password %>
  </div></br>

  <div class="field" id="patente1">
    <%= label_tag :confirmar_nuevo_password %>
  </div>

  <div class="field" id="patente2">
    <%= password_field_tag :password_confirmation %>
  </div></br>
  
  <div class="field" id="ano1" align="center">
    <%= submit_tag "Cambiar contraseña", :class => "active icon-ok-sign btn btn-primary "  %>
  </div>
  
  <%end%> 
