<div class="page-header">
  <center><h2>Crea tu cuenta en Estudio Vienna</h2></center>
</div>
<%= form_for @user, :html => { :class => 'form-horizontal' }, :validate => true  do |f| %>
  <div class="field">
    <%= f.label :"Correo Electronico" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :"Contraseña" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :"confirmación de contraseña" %>
    <%= f.password_field :password_confirmation %>
  </div>
    <div class="field">
    <%= f.label :"Nombre" %>
    <%= f.text_field :name %>
  </div> 
  <div class="field">
      <%= f.label :"Apellido Paterno" %>
      <%= f.text_field :lastname %>
  </div>
  <div class="field">
      <%= f.label :"Apellido Materno" %>
      <%= f.text_field :surname %>
  </div>
  <div class="field">
      <%= f.label :"Instrumento que toca" %>
      <%= f.text_field :instrument %>
  </div>
  <div class="field">
      <%= f.label :"Telefono de contacto" %>
      <%= f.text_field :fono %>
  </div>
</br>
  <div class="actions"><%= f.button " Registrarme", :class => 'active icon-check btn btn-primary' %></div>

<% end %>
